/*This code contains the services section of our website */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*styling the contact us now */
#Fedback
{
    width: 100%;
    padding: 4.375rem 0;
    background: #efefef;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  resize: vertical;
}

label {
  padding: 0.75rem 0.75rem 0.75rem 0;
  display: inline-block;
}

input[type=submit] {
  background-color: tomato;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #000;
}

.container {
  border-radius: 0.3125rem;
  background-color: #f2f2f2;
  padding: 1.25rem;
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 0.375rem;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 0.375rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
