/*This css file styles the features section of our website */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*features start here*/
#features
{
    width: 100%;
    padding: 70px 0;
}
.title-text
{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p
{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
/*forms styling for the top customised icon on all headings */
.title-text p::after
{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1
{
    font-size: 50px;
}
.feature-box
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features
{
    flex-basis: 50%;
}
.features-img
{
    flex-basis: 50%;
    margin: auto;
}
.features-img img
{
    width: 70%;
    border-radius: 10px;
}
.features h1
{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.feature-description
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa
{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688; 
}
.feature-text p
{
    padding: 0 20px;
    text-align: initial;
}
/*features end here*/

@media screen and (max-width: 770px)
{
    .title-text h1
{
    font-size: 35px;
}
    .features
{
    flex-basis: 100%;
}
    .features-img
{
    flex-basis: 100%;
}
    .features-img img
{
    width: 100%;
}
}