/*This code contains the footer's section of our website */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* footer start here now. */
#footer
{
    padding: 6.25rem 0 1.25rem;
    background: #efefef;
    position: relative;
}
.footer-row
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right
{
    flex-basis: 45%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
}
.footer-right
{
    text-align: right;
}
.footer-right p a
{
    color: #000;
    text-decoration: none;
}
.footer-right p a:hover
{
    color: #fff;
    background: #009688;
    font-size: 1.0625rem;
}
.footer-row h1
{
    margin: 0.625rem 0;
}
.footer-row p
{
   line-height: 2.1875rem;
}
.footer-left .fa,.footer-right .fa
{
    font-size: 1.25rem;
    color: #009688;
    margin: 0.625rem;
}
.footer-img
{
    max-width: 23.125rem;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
.social-links
{
    text-align: center;
}
.social-links .fa
{
  height: 2.5rem;
width: 2.5rem;
 line-height: 2.5rem;
font-size: 1.25rem;
border: 0.0625rem solid #009688;
    margin: 2.5rem 0.3125rem 0;
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
}
.social-links .fa:hover
{
    background: #009688;
    color: #fff;
    transform: translateY(-0.4375rem);
    
}
.social-links p
{
    font-size: 0.8125rem;
    margin-top: 1.25rem;
}
.desgnedby p a
{
    text-decoration: none;
    color: #000;
   font-size: 1.25rem; 
}
.desgnedby p a:hover
{
    background: #009688;
    color: #fff;
    transform: translateY(-0.4375rem); 
}

@media screen and (max-width: 48.125rem)
{
    .footer-left,.footer-right
{
    flex-basis: 100%;
    font-size: 0.875rem;
}
    .footer-img
    {
        top: 25%;
    }
}
