/*This code contains the services section of our website I used a desktop first approach to design*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*styling the contact us now */

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 17px;
}

a {
  font-size: 17px;
}

/* Styling for the page now */

.main {
  width: 100%;
}

.main .landing {
  width: 100%;
  padding: 5% 5%;
}

.main .landing img {
  width: 100%;
  max-width: 100%;
}

/* Styling for the contact form section */


.namesSmall, #emailSmall {
  color: red;
  display: flex;
}

.contactForm {
  width: 100%;
  padding: 5% 5%;
}

.contactForm .contactFormLeft img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 20px 0;
}

.contactForm .contactFormRight {
  width: 100%;
}

.contactForm .contactFormRight h2 {
  font-size: 25px;
  color: #009688;
  font-weight: bold;
  margin: 20px 0;
}

.contactForm .contactFormRight form input {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
}

.contactForm .contactFormRight form textarea {
  width: 100%;
  height: 18vh;
  margin: 15px 0;
  padding: 10px;
}

.contactForm .contactFormRight form button {
  padding: 10px;
  width: 100%;
  background-color: #009688;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  transition: 0.5s;
}

.contactForm .contactFormRight form button i {
  padding: 2px;
  border-radius: 50%;
  background-color: #fff;
  color: #009688;
  margin-right: 10px;
}

.contactForm .contactFormRight form button:hover {
  background-color: #fff;
  color: #009688;
  border: 1px solid #009688;
}

.contactForm .contactFormRight form button:hover i {
  background-color: #009688;
  color: #fff;
}


/* Styling for the contact section */

/* Responsive design now */

/* Tablet version */

@media screen and (min-width: 748px) {
  .contactForm {
    display: flex;
    gap: 15px;
  }

  .contactForm div {
    flex: 1;
  }
}

/* Desktop versions now */

@media screen and (min-width: 1020px) {
  .contactForm {
    display: flex;
    gap: 25px;
  }
}