/*This css file styles the features section of our website I will be using desktop first approach to design*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*features start here*/
#features
{
    width: 100%;
    padding: 4.375rem 0;
}
.title-text
{
    text-align: center;
    padding-bottom: 4.375rem;
}
.title-text p
{
    margin: auto;
    font-size: 1.25rem;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
/*forms styling for the top customised icon on all headings */
.title-text p::after
{
    content: '';
    width: 3.125rem;
    height: 2.1875rem;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: 1.25rem;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 2.1875rem;
    border-bottom-right-radius: 2.1875rem;
}
.title-text h1
{
    font-size: 3.125rem;
}
.feature-box
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features
{
    flex-basis: 50%;
}
.features-img
{
    flex-basis: 50%;
    margin: auto;
}
.features-img img
{
    width: 70%;
    border-radius: 0.625rem;
}
.features h1
{
    text-align: left;
    margin-bottom: 0.625rem;
    font-weight: 100;
    color: #009688;
}
.feature-description
{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.feature-icon .fa
{
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.875rem;
    line-height: 3.125rem;
    border-radius: 0.5rem;
    color: #009688;
    border: 1px solid #009688; 
}
.feature-text p
{
    padding: 0 1.25rem;
    text-align: initial;
}
/*features end here*/

@media screen and (max-width: 48.125rem)
{
    .title-text h1
{
    font-size: 2.1875rem;
}
    .features
{
    flex-basis: 100%;
}
    .features-img
{
    flex-basis: 100%;
}
    .features-img img
{
    width: 100%;
}
}
